___
___
___
# PYCARET
___
___
___

In [1]:
from pycaret.classification import *
import pycaret

In [2]:
import pandas as pd

df = pd.read_csv('./data_set/SBAnational-EDA.csv')
# df = pd.read_csv('./data_set/SBAnational1000.csv')

df = df.drop(columns=['Unnamed: 0', 'ChgOffDate', 'DisbursementDate', 'DisbursementGross', 'BalanceGross', 'ChgOffPrinGr'], axis=1).reset_index(drop=True)
df = df.drop(columns=['CreateJob', 'RetainedJob'], axis=1).reset_index(drop=True)
df = df[['NAICS', 'ApprovalDate', 'ApprovalFY', 'Term', 'UrbanRural', 'GrAppv', 'SBA_Appv', 'MIS_Status']]

# Initialisation l'environnement PyCaret en spécifiant la colonne cible
session = setup(data=df, target='MIS_Status', normalize=True, train_size=0.7, data_split_stratify=True, fold=5, session_id=0)
df

,NAICS,ApprovalDate,ApprovalFY,Term,UrbanRural,GrAppv,SBA_Appv,MIS_Status
0,451120,1997-02-28,1997-01-01,84,0,60000.0,48000.0,P I F
1,722410,1997-02-28,1997-01-01,60,0,40000.0,32000.0,P I F
2,621210,1997-02-28,1997-01-01,180,0,287000.0,215250.0,P I F
3,0,1997-02-28,1997-01-01,60,0,35000.0,28000.0,P I F
4,0,1997-02-28,1997-01-01,240,0,229000.0,229000.0,P I F
...,...,...,...,...,...,...,...,...
894806,451120,1997-02-27,1997-01-01,60,0,70000.0,56000.0,P I F
894807,451130,1997-02-27,1997-01-01,60,0,85000.0,42500.0,P I F
894808,332321,1997-02-27,1997-01-01,108,0,300000.0,225000.0,P I F
894809,0,1997-02-27,1997-01-01,60,0,75000.0,60000.0,CHGOFF
894810,0,1997-02-27,1997-01-01,48,0,30000.0,24000.0,P I F

In [3]:
algo = models()
print(algo)

                                     Name  \
ID
lr                    Logistic Regression
knn                K Neighbors Classifier
nb                            Naive Bayes
dt               Decision Tree Classifier
svm                   SVM - Linear Kernel
rbfsvm                SVM - Radial Kernel
gpc           Gaussian Process Classifier
mlp                        MLP Classifier
ridge                    Ridge Classifier
rf               Random Forest Classifier
qda       Quadratic Discriminant Analysis
ada                  Ada Boost Classifier
gbc          Gradient Boosting Classifier
lda          Linear Discriminant Analysis
et                 Extra Trees Classifier
xgboost         Extreme Gradient Boosting
lightgbm  Light Gradient Boosting Machine
catboost              CatBoost Classifier
dummy                    Dummy Classifier

                                                  Reference  Turbo
ID
lr        sklearn.linear_model._logistic.LogisticRegression   True
knn       sklearn.neighbors._classification.KNeighborsCl...   True
nb                           sklearn.naive_bayes.GaussianNB   True
dt             sklearn.tree._classes.DecisionTreeClassifier   True
svm       sklearn.linear_model._stochastic_gradient.SGDC...   True
rbfsvm                             sklearn.svm._classes.SVC  False
gpc       sklearn.gaussian_process._gpc.GaussianProcessC...  False
mlp       sklearn.neural_network._multilayer_perceptron....  False
ridge           sklearn.linear_model._ridge.RidgeClassifier   True
rf          sklearn.ensemble._forest.RandomForestClassifier   True
qda       sklearn.discriminant_analysis.QuadraticDiscrim...   True
ada       sklearn.ensemble._weight_boosting.AdaBoostClas...   True
gbc         sklearn.ensemble._gb.GradientBoostingClassifier   True
lda       sklearn.discriminant_analysis.LinearDiscrimina...   True
et            sklearn.ensemble._forest.ExtraTreesClassifier   True
xgboost                       xgboost.sklearn.XGBClassifier   True
lightgbm                    lightgbm.sklearn.LGBMClassifier   True
catboost                   catboost.core.CatBoostClassifier   True
dummy                         sklearn.dummy.DummyClassifier   True

In [4]:
top_models = compare_models(n_select=3, sort="Accuracy", include=['lr', 'knn', 'dt', 'ridge', 'rf', 'lightgbm', 'xgboost'])
print(top_models)

Initiated  . . . . . . . . . . . . . . . . . .                  15:35:45
Status     . . . . . . . . . . . . . . . . . .           Fitting 5 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Processing:   0%|          | 0/35 [00:00<?, ?it/s]