___
___
___
# SWEETVIZ
___
___
___

In [2]:
import pandas as pd

df = pd.read_csv('../data_set/SBAnational-EDA.csv')
df = df.drop(columns=['Unnamed: 0'])
display(df.head(1))

,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,EVANSVILLE,IN,47711,FIFTH THIRD BANK,IN,451120,1997-02-28,1997-01-01,84,4,...,N,Y,2010-03-13,1999-02-28,60000.0,0.0,P I F,0.0,60000.0,48000.0

In [3]:
from sklearn.preprocessing import LabelEncoder

# Créer un objet LabelEncoder
label_encoder = LabelEncoder()

# Itérer sur les colonnes de votre DataFrame
for colonne in df.columns:
    # Vérifier si la colonne est de type 'object' (catégorielle)
    if df[colonne].dtype == 'object':
        # Appliquer LabelEncoder à la colonne catégorielle
        df[colonne] = label_encoder.fit_transform(df[colonne])

# Afficher le DataFrame avec les colonnes encodées
display(df.head())

,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,8544,15,47711,1021,16,451120,5037,30,84,4,...,1,1,5314,5570,60000.0,0.0,1,0.0,60000.0,48000.0
1,19560,15,46526,73,36,722410,5037,30,60,2,...,1,1,5314,5029,40000.0,0.0,1,0.0,40000.0,32000.0
2,2202,23,47401,2688,15,621210,5037,30,180,7,...,1,0,5314,5218,287000.0,0.0,1,0.0,287000.0,215250.0
3,2716,36,74012,259,37,0,5037,30,60,2,...,1,1,5314,5057,35000.0,0.0,1,0.0,35000.0,28000.0
4,21105,9,32801,259,9,0,5037,30,240,14,...,1,0,5314,5014,229000.0,0.0,1,0.0,229000.0,229000.0

In [5]:
import sweetviz as sv

my_report = sv.analyze(df, target_feat='MIS_Status')
my_report.show_html() # Default arguments will generate to "SWEETVIZ_REPORT.html"

                          0
City                 8544.0
State                  15.0
Zip                 47711.0
Bank                 1021.0
BankState              16.0
NAICS              451120.0
ApprovalDate         5037.0
ApprovalFY             30.0
Term                   84.0
NoEmp                   4.0
NewExist                2.0
CreateJob               0.0
RetainedJob             0.0
FranchiseCode           1.0
UrbanRural              0.0
RevLineCr               1.0
LowDoc                  1.0
ChgOffDate           5314.0
DisbursementDate     5570.0
DisbursementGross   60000.0
BalanceGross            0.0
MIS_Status              1.0
ChgOffPrinGr            0.0
GrAppv              60000.0
SBA_Appv            48000.0